.go-board {
    display: grid;
    grid-template-columns: repeat(19, 28px);
    grid-template-rows: repeat(19, 28px);

    width: fit-content;
    padding: 14px;

    background-color: #d9a45b;
    border: 1px solid #c58e45;
    border-radius: 8px;
}

.go-point {
    position: relative;

    width: 28px;
    height: 28px;

    border: none;
    padding: 0;

    background: transparent;
    cursor: pointer;
}

.go-point::before {
    content: "";

    position: absolute;

    left: 50%;
    top: 0;

    width: 1px;
    height: 100%;

    background: #333;
}

.go-point::after {
    content: "";

    position: absolute;

    left: 0;
    top: 50%;

    width: 100%;
    height: 1px;

    background: #333;
}

.stone {
    position: absolute;

    left: 50%;
    top: 50%;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

.black-stone {
    background: #111;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}

.white-stone {
    background: white;
    border: 1px solid #777;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.go-point.left-edge::after {
    left: 50%;
    width: 50%;
}

.go-point.right-edge::after {
    width: 50%;
}

.go-point.top-edge::before {
    top: 50%;
    height: 50%;
}

.go-point.bottom-edge::before {
    height: 50%;
}

.selected-marker {
    position: absolute;

    left: 50%;
    top: 50%;

    width: 8px;
    height: 8px;

    border: 2px solid #dc2626;
    border-radius: 50%;

    transform: translate(-50%, -50%);

    z-index: 2;
    pointer-events: none;
}
