:root {
    --ink-black: #0d1b2a;
    --prussian-blue: #1b263b;
    --dusk-blue: #415a77;
    --lavender-grey: #778da9;
    --alabaster-grey: #e0e1dd;

    --white: #ffffff;
}

body {
    margin: 0;
    color: var(--ink-black);
    background: var(--white);
}
